spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
  
  jpa:
    hibernate:
      ddl-auto: validate

app:
  jwt:
    secret: ${JWT_SECRET}
  
  file:
    upload-dir: ${UPLOAD_DIR:/app/uploads}

logging:
  level:
    root: INFO
    com.incident: INFO


